<!-- navigation bar -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <!--        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
        DAON
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/keyword/list" class="nav-link px-2 link-secondary">키워드 검색결과</a></li>
        <li><a href="/exposed/list" class="nav-link px-2 link-dark">포스트 노출추적</a></li>
    </ul>
    <div id="loginInfoArea" class="col-md-3 text-end">
        {{#user.name}} <!-- 머스테치는 if 문 제공 안해서 참/거짓만 판단하므로 항상 최종값을 넘겨줘야함 -->
            <a href="/member/info" role="button" class="btn btn-outline-primary me-2">Account</a>
            <a href="/logout" role="button" class="btn btn-outline-primary me-2">Logout</a>
        {{/user.name}}
        {{^user.name}} <!-- 해당값이 존재하지 않는 경우 -->
            <a href="/oauth2/authorization/google" role="button" class="btn btn-primary">Google Login</a>
            <!-- <a href="/oauth2/authorization/naver" role="button" class="btn btn-primary">Naver Login</a> -->
        {{/user.name}}
    </div>
</header>